*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.loc
*.soc
*.dat
*.pdf
EvolutionCheck
EvolutionCheck.o
GTMDMatchingkTQ
GTMDMatchingkTQ.o
GTMDMatchingkTxi
GTMDMatchingkTxi.o
GTMDMatchingxxi
GTMDMatchingxxi.o
GTMDMatchingxxi_analytic
GTMDMatchingxxi_analytic.o
GTMDMatchingkTxi_full
GTMDMatchingkTxi_full.o
Mixing_angle
Mixing_angle.o
/.vscode/

.ipynb_checkpoints/
*.pyc
__pycache__/
