*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.loc
*.soc
EvolutionCheck
EvolutionCheck.o
GTMDMatchingkTQ
GTMDMatchingkTQ.o
GTMDMatchingkTxi
GTMDMatchingkTxi.o
GTMDMatchingxxi
GTMDMatchingxxi.o
GTMDMatchingxxi_analytic
GTMDMatchingxxi_analytic.o
